name: Publish to npm
on:
    # Triggers the workflow when new tag is created
    push:
        tags:
            - "v*.*.*"
jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-node@v5
              with:
                  node-version: "20"
                  registry-url: "https://registry.npmjs.org"
            - run: npm install -g yarn
            - run: yarn install --frozen-lockfile
            - run: yarn test
            - run: yarn build
            - run: npm publish --provenance --ignore-scripts
              env:
                  NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
